<html>

<head>
    <title>Estudiantes - Listado de Estudiantes</title>
</head>

<body>
    <div>
        <h2>Listado de personal</h2>
        <br>
        <br>
        <a href="/Estudiantes/Registro">Agregar Empleado</a>
        <br>
        <br>
        <table id="tablaempleado" style="width: 100%;">
            <thead>
                <tr>
                    <th>
                        Id Estudiante
                    </th>
                    <th>
                        No. de Matricula
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Carrera
                    </th>
                    <th>
                        Correo Electronico
                    </th>
                    <th>
                        Consultar
                    </th>
                    <th>
                        Editar
                    </th>
                    <th>
                        Eliminar
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <script type="module" src="~/js/listado/listado.js" asp-append-version="true"></script>
</body>
</html>