#normal p:first-letter {
    font-size: 2em;
  }
  #avanzado p:first-letter {
    font-size: 2.5em;
    font-weight: bold;
    line-height: .9em;
    float: left;
    margin: .1em;
  }
  #avanzado p:first-line {
    font-weight: bold;
  }