/* Veerle's blog Main stylesheet
------------------------------------------------------------------*/

/* Wide browser windows
------------------------------------------------------------------*/
#wrap {
    width:995px;
  }
  
  
  /* Global
  ------------------------------------------------------------------*/
  html, body, form, h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl {
    margin:0;
    padding:0;
  }
  ul,li {
    list-style-type:none;
  }
 
  
  /* Wide layout
  ------------------------------------------------------------------*/
  .wide #wrap-main {

  }

  /* Links
  ------------------------------------------------------------------*/
  a:link,
  a:visited {
    text-decoration:none;
    color:#e45a49;
  }
  
  /* Header
  ------------------------------------------------------------------*/
  #header {
    
  }
  
  
  /* Main navigation
  ------------------------------------------------------------------*/
  ul#nav {
   
  }
