#lateral { 
    width: 200px; 
}

#cabecera { 
    height: 60px; 
}

.destacado {
    margin-left: 2em;
}
  
.img-Coldplay img {
    /* top / right / bottom / left  
    margin: .5em .5em .5m 1em; */

    /*Superior e inferior = 1em, Izquierdo y derecho = 2em
    margin: 1em 2em;*/
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 1em;
    margin-right: .5em;
  }

.anchura {
    border-top-width: 10px;
    border-right-width: 1em;
    border-bottom-width: thick;
    border-left-width: thin;
    background: blanchedalmond;
    border-color: black;
  }