/*Selector universal*/
* {
  margin: 0;
  padding: 0;
}

/*Selector etiqueta*/
p{
  margin: 0;
  padding: 0;
}

h1,p{
    color: aqua;
}

/*Selector descendente*/
p span { 
    color: red; 
}

/*Selector clase*/
.clase{
     border: 1px solid #98be10;
}

/*Selector id*/
#id{
    color:blueviolet;
}

/*Selectores de hijo directo*/
p > span { 
    color: blue; 
}

/*Selector adyacente seleccionar elementos que se encuentran justo a continuación*/
.clase + #id{
    padding: 5px;
}

/*Selector de atributos */
/* [nombre_atributo], selecciona los elementos que tienen establecido el atributo llamado nombre_atributo, independientemente de su valor. */

a[class] { 
    color: blue; 
}

/* [nombre_atributo=valor], selecciona los elementos que tienen establecido un atributo llamado nombre_atributo con un valor igual a valor.
 */

 a[class="externo"] { 
     color: blue; 
}

/* [nombre_atributo~=valor], selecciona los elementos que tienen establecido un atributo llamado nombre_atributo y al menos uno de los valores del atributo es valor. */

a[href="http://www.ejemplo.com"] { 
    color: blue; 
}

/* [nombre_atributo|=valor], selecciona los elementos que tienen establecido un atributo llamado nombre_atributo y cuyo valor es una serie de palabras separadas con guiones, pero que comienza con valor. Este tipo de selector sólo es útil para los atributos de tipo lang que indican el idioma del contenido del elemento. */

a[class~="externo"] { 
    color: blue; 
}

/* Herencia
Orden de los sectores por su importancia (Especificidad)
!important 
inline styles
#id
.class
tag
*/